In [63]:
courses = ["History","Math","Physics","CompSci"]

print(courses)
print(len(courses))
print(courses[0])
# print(courses[4])       # IndexError
print(courses[3])           # Access last value
print(courses[-1])          # Access last value

print(courses[0:2])         # First: Inclusive, Second: Exclusive
print(courses[:2])
print(courses[2:])

['History', 'Math', 'Physics', 'CompSci']
4
History
CompSci
CompSci
['History', 'Math']
['History', 'Math']
['Physics', 'CompSci']

In [64]:
# Add
courses = ["History","Math","Physics","CompSci"]
courses_new = ["Calculus","Physical Ed"]

courses.append("Art")               # Insert at the end
courses.insert(0,"Art")             # Insert at a specific location

courses.append(courses_new)         # Append adds a list within a list
courses.extend(courses_new)         # Extends adds to the list

print(courses)

# Remove
courses.remove("Art")               # Removes the first element that it encounters from left
courses.pop()                       # Removes the last element
print(courses)

# popped = []
# for i in courses:
#     popped = courses.pop()
#     print(popped)
# print(popped)

['Art', 'History', 'Math', 'Physics', 'CompSci', 'Art', ['Calculus', 'Physical Ed'], 'Calculus', 'Physical Ed']
['History', 'Math', 'Physics', 'CompSci', 'Art', ['Calculus', 'Physical Ed'], 'Calculus']

In [65]:
courses = ["History","Math","Physics","CompSci","Calculus"]
popped = courses.pop()              # Store value of what was popped
print(courses)

# Store popped values
popped = []
for course in courses:
    print(len(courses))
    popped.append(courses.pop())
print(popped)                       # length of the courses list decreases during the iteration,
                                    # causing the loop to terminate early.

courses = ["History","Math","Physics","CompSci","Calculus"]

# Store popped values
# Use while to store all popped items
popped = []
while courses:
    print(len(courses))
    popped.append(courses.pop())
print(popped)

['History', 'Math', 'Physics', 'CompSci']
4
3
['CompSci', 'Physics']
5
4
3
2
1
['Calculus', 'CompSci', 'Physics', 'Math', 'History']

In [66]:
courses = ["History","Math","Physics","CompSci","Calculus"]
nums = [1, 4, 2, 3, 6, 5]

# Sort
# Alters the list inplace
courses.sort()
nums.sort()
print(courses)
print(nums)

# Following will return None, as we are sorting the list in place
print(courses.sort())

# Sort in reverse
courses.sort(reverse=True)
nums.sort(reverse=True)
print(courses)
print(nums)

# Get a sorted version of our list, without ordering our original list
# sorted(courses)
nums = [1, 4, 2, 3, 6, 5]
print(sorted(nums))
print(nums)

['Calculus', 'CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5, 6]
None
['Physics', 'Math', 'History', 'CompSci', 'Calculus']
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
[1, 4, 2, 3, 6, 5]

In [67]:
nums = [1, 4, 2, 3, 6, 5]

print(min(nums))        # Get min
print(max(nums))        # Get max
print(sum(nums))        # Get addition

1
6
21

In [68]:
courses = ["Art","History","Math","Physics","CompSci","Calculus","Art"]

print(courses.index("CompSci"))
# print(courses.index("Civics"))          # ValueError
print(courses.index("Art"))                 # Returns the first occurence

print("Math" in courses)
print("Art" in courses)

4
0
True
True

In [69]:
courses = ["Art","History","Math","Physics","CompSci","Calculus"]

# Loop through a list
for course in courses:
    print(course)

# Access index with enumerate
for i, course in enumerate(courses):
    print(i, course)

# Change start value of index
for i, course in enumerate(courses, start=100):
    print(i, course)

Art
History
Math
Physics
CompSci
Calculus
0 Art
1 History
2 Math
3 Physics
4 CompSci
5 Calculus
100 Art
101 History
102 Math
103 Physics
104 CompSci
105 Calculus

In [70]:
courses = ["Art","History","Math","Physics"]

# Convert a list to string
course_str = "-".join(courses)
print(course_str)

# Convert a string to list
my_str = "Art-History-Math-Physics"
my_list = my_str.split("-")
print(my_list)

Art-History-Math-Physics
['Art', 'History', 'Math', 'Physics']

## Tuples

In [74]:
# Lists are mutable
# Tuples are immutable

list_1 = ["Art","History","Math","Physics"]
list_2 = list_1

print(list_1)
print(list_2)

# Following will change the value of both lists, as they are the same object
list_1[0]="Civics"

print(list_1)
print(list_2)

# Immutable with tuple
tuple_1 = ("Art","History","Math","Physics")
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

# tuple_1[0] = "Civics"       # Type Error, object does not support item assignment

['Art', 'History', 'Math', 'Physics']
['Art', 'History', 'Math', 'Physics']
['Civics', 'History', 'Math', 'Physics']
['Civics', 'History', 'Math', 'Physics']
('Art', 'History', 'Math', 'Physics')
('Art', 'History', 'Math', 'Physics')

TypeError: 'tuple' object does not support item assignment

In [80]:
# Sets
# Values are unordered, and have no duplicates

cs_courses = {"History","Math","Physics","CompSci"}
print(cs_courses)           # Prints without any order

cs_courses = {"History","Math","Physics","CompSci","Math"}
print(cs_courses)               # Returns without any duplicates

# We can do the following with tuples and lists, but sets are optimized for this
print("Math" in cs_courses)

{'CompSci', 'Physics', 'Math', 'History'}
{'CompSci', 'Physics', 'Math', 'History'}
True

In [83]:
# Set methods

cs_courses = {"History","Math","Physics","CompSci"}
art_courses = {"History","Math","Art","Design"}

print(cs_courses.intersection(art_courses))
print(cs_courses.difference(art_courses))
print(cs_courses.union(art_courses))

{'Math', 'History'}
{'CompSci', 'Physics'}
{'Math', 'History', 'Art', 'CompSci', 'Design', 'Physics'}

In [ ]:
empty_list = []
empty_list = list()

empty_tuple = ()
empty_tupe = tuple()

empty_set = {}              # This will create an empty dictionary
empty_set = set()